<!DOCTYPE html>
<html lang="en">
{{>links}}
<body>
    {{>navbar}}
    <img src="img/4044.png" style=" width: 90vw; height: 80vh; justify-content: center; align-items: center"/>

    {{>footer}}
</body>
</html>