<!DOCTYPE html>
<html lang="en">
{{>links}}
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
           
            <!-- main header right -->
                <div class="row">
                      <div class="col-md-6 col-12 main_header_right">
                        <figure>
                          <img src="img/about me.png" alt="sudeb" class="img-fluid" tittle="sudeb">
                        </figure>
                    </div>
                       <!-- main header left -->
              <div class="col-md-6 col-12 main_header_left">
                <!-- <P>i am full strack web devoloper..khow details about me click on about me </P> -->
                <h1>i am full strack  <span>web devoloper</span>.khow details about me click on about me</h1>
                <button> about me </button>
            </div>
            </div> 
        </div>
    </div> 
    {{>footer}}
</body>
</html>